name: Commit
on:
    push:

jobs:
    check:
        name: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # 4.1.7
            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  run_install: false
            - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # 4.0.3
              with:
                  node-version: 24
                  cache: pnpm
            - name: Installing dependencies
              run: pnpm install --frozen-lockfile
            - name: Test
              run: pnpm test
            - name: Typecheck
              run: pnpm typecheck
            - name: Format
              run: pnpm format
            - name: Build
              run: pnpm build
