name: Publish to npm
on:
    release:
        types: [published]
jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              name: Install pnpm
              with:
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: pnpm
                  registry-url: 'https://registry.npmjs.org'
            - run: pnpm install --frozen-lockfile
            - run: pnpm test
            - run: pnpm typecheck
            - run: pnpm format
            - run: pnpm build
            - run: pnpm publish --provenance --access public --no-git-checks
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
